---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import Hero from '../components/Hero.astro'
import AboutSection from '../components/AboutSection.astro'
import RouteSection from '../components/RouteSection.astro'
import ScheduleSection from '../components/ScheduleSection.astro'
import PastEditionsSection from '../components/PastEditionsSection.astro'
import SponsorsSection from '../components/SponsorsSection.astro'
import ContactSection from '../components/ContactSection.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Retkińska Piątka - Charytatywny bieg 5km | Łódź 2026">
  <Navigation />

  <main>
    <Hero />
    <AboutSection />
    <RouteSection />
    <!-- <ScheduleSection /> -->
    <SponsorsSection />
    <PastEditionsSection />
    <ContactSection />
  </main>

  <Footer />
</Layout>
